// Color palette
$color-primary: #1828A4;
$color-secondary: #F3F4FA;

// Background
$bg-body: #FFFEFA;

// Effect
$blur-effect: blur(2px);

// Common breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
