@use "./variables" as *;
@use "./fonts";
@use "./mixins" as *;

html, body {
  margin: 0;
  padding: 0;
  background: $bg-body;
  color: $color-primary;
  font-family: "Inter", "Manrope", sans-serif;
  max-width: 1440px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;

  //&:hover {
  //  color: color.adjust($color-primary, $lightness: -10%)
  //}
}

// Headers

h1 {
  font-weight: 500;
  font-size: 119px;
  line-height: 104px;
  letter-spacing: -5%;

  @include respond(lg) {
    font-weight: 500;
    font-size: 119px;
    line-height: 104px;
    letter-spacing: -5%;
  }
}

h2 {
  font-weight: 500;
  font-size: 81px;
  line-height: 76px;
  letter-spacing: -3%;

  @include respond(lg) {
    font-weight: 500;
    font-size: 81px;
    line-height: 76px;
    letter-spacing: -3%;
  }
}

h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1%;

  @include respond(lg) {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1%;
  }
}

.button {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;

  @include respond(lg) {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }
}

.caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;

  @include respond(lg) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.body-sb {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;

  @include respond(lg) {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }
}

.grid {
  display: grid;
  gap: 1rem;

  // Mobile
  grid-template-columns: repeat(4, 1fr);

  // Tablet
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(6, 1fr);
  }

  // Desktop
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
  }
}